fastapi
uvicorn
sqlalchemy
pymysql
cryptography
numpy
pythainlp
hdbscan
python-multipart
sentence-transformers
transformers
torch
open-clip-torch
Pillow
opencv-python-headless
faster-whisper
scenedetect
keybert
scikit-learn
openai
spacy
